.build/
vm/
keys/
configs/*.yaml
!configs/*.yaml.example

__pycache__/
*.py[cod]

.venv/
venv/
.python-version
*.egg-info/
build/
dist/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
coverage-html/
coverage-report.txt
docs/_build/
