#cloud-config

hostname: {{ vm_name }}
manage_etc_hosts: true

users:
  - name: {{ admin_user }}
    groups: users, sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ admin_public_key }}

  - name: {{ vm_user }}
    groups: users
    shell: /bin/bash
    sudo: {{ vm_sudo }}
{% if vm_public_key %}
    ssh_authorized_keys:
      - {{ vm_public_key }}
{% endif %}

package_update: true
package_upgrade: true

packages:
  - firewalld
  - curl
  - wget
  - nano
{% for package in packages %}
  - {{ package }}
{% endfor %}

write_files:
  - path: /etc/ssh/sshd_config.d/99-hardening.conf
    content: |
      PermitRootLogin no
      PasswordAuthentication no
      PubkeyAuthentication yes
      AllowUsers {{ admin_user }} {{ vm_user }}

runcmd:
  - systemctl enable --now firewalld
  - firewall-cmd --permanent --add-service=ssh
  - firewall-cmd --reload
  - systemctl restart ssh
